<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Saritha Y Juan" />
  <meta name="description"
    content="Palacio de la Luna es un hotel ideal para disfrutar &amp; comforts. Bulma Hotel is an ideal choice for your stay. Whether business trip or just a weekend leisure." />
  <meta name="keywords" content="bulma, hotel, website, template, free, awesome" />
  <link rel="canonical" href="https://aldi.github.io/bulma-hotel-template/index.html" />
  <title>PALACIO DE LA LUNA</title>
  <link rel="icon" type="image/webp" href="https://static.vecteezy.com/system/resources/thumbnails/014/012/729/small_2x/half-moon-space-illustration-png.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css" />
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Indie+Flower&family=Lora:ital,wght@0,400..700;1,400..700&family=Michroma&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Special+Gothic+Expanded+One&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
  <script defer src="../static/js/scripts.js"></script>
</head>

<body>
  <section class="hero main_hero is-fullheight">
    <div class="hero-head">
      <div class="first_nav">
        <div class="container">
          <nav class="navbar">
            <div class="navbar-brand">
              <a class="navbar-item" href="index.html">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/014/012/729/small_2x/half-moon-space-illustration-png.png" alt="Palacio de la Luna" width="30" height="28" />
              </a>

              <!-- Mobile Menu -->
              <div class="navbar-burger burger" data-target="navMenuBlogHero">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <!-- Menu -->
            <div id="navMenuBlogHero" class="navbar-menu">
              <!-- Left Nav -->
              <div class="navbar-start">
                <a class="navbar-item is-active">Home</a>
                <a class="navbar-item" href="#rooms">Habitaciones</a>
                <a class="navbar-item" href="#hotel-gallery">Galería</a>
                <a class="navbar-item" href="#about-us">Nosotros</a>
                <a class="navbar-item" href="#contact-us">Encuéntranos</a>
                <a class="navbar-item" href="/usuarios/registro">Registrarse</a>
                <a class="navbar-item" href="/iniciar-sesion">Iniciar Sesión</a>
              </div>
              <!-- ./Left Nav -->
              <!-- Right Nav -->

            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="slider-content animated zoomIn pb-6">
          <div>
            <p class="title is-1 main-text">Bienvenido al Palacio de la Luna</p>
            <p class="subtitle is-4 main-text">Disfruta del lujo y serenidad en un entorno mágico</p>
          </div>
        </div>
        <span class="scroll-down animated zoomIn">
          <svg width="30px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" style="
                fill-rule: evenodd;
                clip-rule: evenodd;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 1.5;
              ">
            <path id="wheel" d="M123.359,79.775l0,72.843" style="fill: none; stroke: #fff; stroke-width: 20px;" />
            <path id="mouse"
              d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z"
              style="fill: none; stroke: #fff; stroke-width: 20px;" />
          </svg>
        </span>
      </div>
    </div>
  </section>
  <!-- Rooms Section -->
  <section class="hero" id="rooms">
    <div class="hero-body">
      <div class="container">
        <div class="rooms columns">
          <!-- Executive Gold Single -->
          <div class="column">
            <figure class="image">
              <img
                src="https://beach.palaceresorts.com/two-bedroom-presidential-suite-view-beach-palace_74315650a6.webp"
                alt="Habitación Simple" />
            </figure>
            <div class="content">
              <div></div>
              <h1 class="title is-6">Habitación Simple</h1>
              <p>Refugio para viajeros solos con cama, baño y vistas lunares.</b></p>
              <a class="button is-primary open-modal" href="#">Ver detalles</a>
            </div>
          </div>
          <!-- Executive Gold Double -->
          <div class="column">
            <figure class="image">
              <img
                src="https://jamaica.moonpalace.com/resort-view-room-beds-moon-palace-jamaica_ecb73902ec.webp"
                alt="Habitación Doble" />
            </figure>
            <div class="content">
              <div></div>
              <h1 class="title is-6">Habitación Doble</h1>
              <p>Elegancia para parejas con cama king-size y balcón lunar.</p>
              <a class="button is-primary open-modal" href="#">Ver detalles</a>
            </div>
          </div>
          <!-- Premier Diamond Single -->
          <div class="column">
            <figure class="image">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5wQuxlFpZa8jD3e9xj1Fhs1tesueTaErNLSl68GbHvaFTVOdL9u_fdyp_hELoALLFgY4&usqp=CAU"
                alt="Habitación Familiar" />
            </figure>
            <div class="content">
              <div></div>
              <h1 class="title is-6">Habitación Familiar</h1>
              <p>Espacio familiar con camas, área de estar y vistas.</p>
              <a class="button is-primary open-modal" href="#">Ver detalles</a>
            </div>
          </div>
          <!-- Premier Diamond Double -->
          <div class="column">
            <figure class="image">
              <img
                src="https://beach.palaceresorts.com/terrace-view-superior-deluxe-ocean-view-beach-palace_8e42535993.webp"
                alt="Habitación Gold" />
            </figure>
            <div class="content">
              <div></div>
              <h1 class="title is-6">Habitación Gold</h1>
              <p>Suite de lujo con jacuzzi, sala y vistas panorámicas.</p>
              <a class="button is-primary open-modal" href="#">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ./Rooms Section -->
  <!-- Features Modal -->
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="content">
        <div class="columns">
          <div class="column">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma Hotels" width="150" />
          </div>
          <div class="column">
            <div>
              <i class="fa fa-phone"></i> &nbsp; <span>Phone Number</span> &nbsp;
              <a style="color: black;" href="tel:+30 2109999999">+30 2109999999</a>
            </div>
            <div>
              <i class="fa fa-phone"></i> &nbsp; <span>Reservation</span> &nbsp;
              <a style="color: black;" href="tel:+30 2109999997">+30 210999997</a>
            </div>
          </div>
        </div>
        <h3>Facilities &amp; Features</h3>
        <div class="columns">
          <ul class="column">
            <li>Free Wi-Fi Connectivity</li>
            <li>Complimentary Breakfast</li>
            <li>Doc on Call</li>
            <li>Board Rooms</li>
            <li>Electronic Card Locks</li>
            <li>In Room Safe</li>
          </ul>
          <ul class="column">
            <li>Laundry Facility</li>
            <li>Hair Dryer</li>
            <li>Travel Assistance</li>
            <li>24 hrs Check-in &amp; Check-out</li>
            <li>Coffee / Tea Maker in Room</li>
            <li>Mini Bar</li>
          </ul>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <!-- ./Features Modal -->
  <!-- About Section -->
  <section class="hero" id="about-us">
    <div class="hero-body">
      <div class="container">
        <div class="content">
          <h4 class="main_title title is-4">Explora Palacio de la Luna</h4>
        </div>
        <div class="columns content">
          <div class="column">
            <p>
              Palacio de la Luna es un refugio de lujo bajo un cielo estrellado, donde la elegancia se fusiona con la serenidad. Con habitaciones acogedoras y vistas lunares, ofrece una experiencia mágica para escapadas románticas y relajantes.
            </p>
            <div class="reception">
              <h5 class="main_title title is-5">Recepción</h5>
              <div class="reception-item">
                <div>
                  <div>
                    <i class="fa fa-phone"></i>
                    <span>Número de Teléfono</span>
                  </div>
                  <a href="tel:+302109999999">+57 318 9999999</a>
                </div>
                <a href="tel:+302109999999" class="button mobile-only">
                  <span>Call</span>
                </a>
              </div>
              <div class="reception-item">
                <div>
                  <div>
                    <i class="fa fa-phone"></i>
                    <span>Reservación</span>
                  </div>
                  <a href="tel:+302109999997">+57 3109992906</a>
                </div>
                <a href="tel:+302109999997" class="button mobile-only">
                  <span>Call</span>
                </a>
              </div>
              <div class="reception-item">
                <div>
                  <div>
                    <i class="fa fa-envelope"></i>
                    <span>Email</span>
                  </div>
                  <a href="mailto:reservacion@palaciodelaluna.com">reservacion@palaciodelaluna.com</a>
                </div>
                <a href="mailto:reservacion@palaciodelaluna.com" class="button mobile-only">
                  <span>Mail</span>
                </a>
              </div>
            </div>
          </div>
          <!-- Reception Image -->
          <div class="column reception-image">
            <img
              src="https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80"
              alt="Palacio de la Luna" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ./About Section -->
  <!-- Gallery Section -->
  <section class="hero" id="hotel-gallery">
    <div class="hero-body is-paddingless">
      <div class="container is-clipped">
        <div class="content">
          <h4 class="main_title title is-4">Galería de nuestro Hotel</h4>
        </div>
        <section class="section is-paddingless">
          <div id="slider">
            <div class="card">
              <div class="card-image">
                <figure class="image is-16by9 is-covered">
                  <img
                    src="https://okdiario.com/img/2024/04/22/melia.--cortesia-635x358.jpg"
                    alt="" />
                </figure>
              </div>
              <div class="card-content">
                <div class="item__title">
                  FOTO 1
                </div>
                <div class="item__description">
                  Nuestro restaurante con una increible vista
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-image">
                <figure class="image is-16by9 is-covered">
                  <img
                    src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2021/12/02/16384446684953.jpg"
                    alt="" />
                </figure>
              </div>
              <div class="card-content">
                <div class="item__title">
                  FOTO 2
                </div>
                <div class="item__description">
                  Nuestras instalaciones de piscina
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-image">
                <figure class="image is-16by9 is-covered">
                  <img
                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/560604589.jpg?k=c1a603d53d01782bdad346d1f6cf38611304b2d583ba26b03480f2430b98ef2b&o=&hp=1"
                    alt="" />
                </figure>
              </div>
              <div class="card-content">
                <div class="item__title">
                  FOTO 3
                </div>
                <div class="item__description">
                  Sala de Check-in
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-image">
                <figure class="image is-16by9 is-covered">
                  <img
                    src="https://images.trvl-media.com/lodging/16000000/15930000/15927800/15927705/1b3169ce.jpg?impolicy=fcrop&w=357&h=201&p=1&q=medium"
                    alt="" />
                </figure>
              </div>
              <div class="card-content">
                <div class="item__title">
                  FOTO 4
                </div>
                <div class="item__description">
                  Nuetsra vista al mar
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-image">
                <figure class="image is-16by9 is-covered">
                  <img
                    src="https://images.trvl-media.com/lodging/1000000/910000/908700/908679/8a1118bf.jpg?impolicy=resizecrop&rw=575&rh=575&ra=fill"
                    alt="" />
                </figure>
              </div>
              <div class="card-content">
                <div class="item__title">
                  FOTO 5
                </div>
                <div class="item__description">
                  Nuestra recepción
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!-- ./Gallery Section -->
  <!-- Contact Us Section -->
  <section class="hero" id="contact-us">
    <div class="hero-body">
      <div class="container">
        <div>
          <div class="content">
            <h4 class="title is-4">Ubicación</h4>
          </div>
          <h6 class="subtitle is-6">Aquí encuentras las indicaciones para encontrar nuestro hotel Palacio de la Luna.</h6>
          <div class="columns box">
            <form class="column" action="#">
              <div class="content">
                <p>
                  Palacio de la Luna es un hotel de lujo con 45 habitaciones climatizadas, diseñado para una experiencia única. Ubicado estratégicamente cerca del centro histórico de Cartagena, Colombia, ofrece comodidad y elegancia bajo un cielo estrellado.
                </p>
                <ul>
                  <li>5 km desde la Terminal de Transportes de Cartagena (estación de autobuses).</li>
                  <li>6 km desde el Aeropuerto Internacional Rafael Núñez (CTG).</li>
                  <li>Menos de 2 km desde los centros comerciales cercanos (Caribe Plaza y Plaza Bocagrande).</li>
                </ul>
              </div>
              <div class="field">
                <label class="label">Reservar</label>
                <p>
                  Reserva ahora para poder conocer todas nuestras instalaciones y disfrutar de una experiencia inolvidable en Palacio de la Luna.
                </p><br>
                <div class="control">
                  <input class="button is-primary" type="submit" value="Reservar" />
                </div>
              </div>
            </form>
            <div class="column">
              <iframe width="100%" height="100%" frameborder="0" style="border: 0;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97943.16061945094!2d-75.59092872745111!3d10.400357081509062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef625e7ae9d1351%3A0xb161392e033f26ca!2sCartagena%20de%20Indias%2C%20Provincia%20de%20Cartagena%2C%20Bol%C3%ADvar!5e1!3m2!1ses!2sco!4v1748751426245!5m2!1ses!2sco"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ./Contact Us Section -->
  <!-- Footer Section -->
  <footer class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <div class="content">
              <h6 class="footer_title title is-6"> 🌙 HOTEL PALACIO DE LA LUNA</h6>
              <p>Elegancia y serenidad bajo un cielo estrellado.</p><br>
              <a href="mailto:reservacion@palaciodelaluna.com">reservacion@palaciodelaluna.com</a>
              <div class="newsletter">
                <form action="#" method="POST" class="newsletter-form"></form>
              </div>
            </div>
          </div>
          <div class="column is-4" style="text-align: center;">
            <div class="content">
              <div>
                <h6 class="footer_title title is-6"> ⏳ RESERVA AHORA</h6>
                <div class="control">
                  <input class="button is-primary" type="submit" value="Reservar" />
                </div>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="content">
              <h6 class="footer_title title is-6"> 📍 ESTAMOS UBICADOS</h6>
              <p class="is-marginless">Plaza de Santo Domingo, Cartagena, Colombia</p><br>
              <p class="is-marginless">6 km desde el Aeropuerto Internacional Rafael Núñez (CTG)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container has-text-centered">
        <p class="footer-text">
          &copy; 2025 - Hotal Palacio de la Luna <br />
          <a href="https://www.aldiduzha.com?utm_source=Github" style="color: white;"><i
              class="fa fa-heart fa-fw" style="font-size: 10px; color: red;"></i> by Saritha y Juan</a>
        </p>
      </div>
    </div>
  </footer>
</body>

</html>